{% extends 'base.html' %}
{% block content %}
<div class="container p-4">
<h3 class="text-center">Welcome to Admin Page for <span class="text-primary">News List</span></h3>
  <a href="{% url 'admin_news_create' %}" class="btn btn-success">Add News</a>
<p></p>
<p></p>
  <table class="table-danger table-striped table table-bordered border-danger">
  <thead class="table-dark">
    <tr>
      <th class="col-1">#</th>
      <th class="col-5">Title</th>
      <th class="col-4">Category</th>
      <th class="col-2">Edit</th>
    </tr>
  </thead>
  <tbody>
  {% for news in newses %}
    <tr>
      <th scope="row">{{ news.id }}</th>
      <td>{{news.title}}</td>
      <td>{{news.category}}</td>
      <td class="text-left">
        <a href="{% url 'admin_news_update' news.id %}" class="btn-sm btn-primary mr-2">
          <span>Update</span>
        </a>
        <a href="{% url 'admin_news_delete' news.id %}" class="btn-sm btn-danger">
          <span>Delete</span>
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
